.about {
  margin-top: -48rem;

}

.about .content__body-project {
  background-color: $color-black;
  padding-bottom: 27rem;
  padding-top: 31rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 0% 100%);
  z-index: 80;
  transform: translateZ(0);

  // @media (max-width: 1000px) {
  //   webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
  // clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
  // }
}

.portrait {
  color: $color-white;
  width: 80%;
  max-width: 145rem;

  &__image {
    width: 23rem;
    -webkit-clip-path: circle(44% at 50% 44%);
    clip-path: circle(44% at 50% 44%);
    float: left;
    shape-outside: circle(44% at 50% 44%);
    margin: 2rem;
    margin-left: -2rem;
  }

  &__message {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;

    @media (max-width: 650px) {
      font-size: 1.5rem;
    }
  }
}

.attributes {

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    max-width: 145rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3rem;
  }

  &__title {
    color: $color-white;
    font-size: 3rem;
  }

  &__split {
    border-top: 1px solid $color-white;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
    padding-top: 2rem;

    @media (max-width: 1050px) {
      justify-content: flex-start;
    }
  }

  &__hobbies {
    margin: 0;
    padding: 0;    

    li {
      font-size: 2.5rem;
      color: $color-white;
      list-style: none;

      span {
        color: $color-red;
      }
    }
  }
}

.about .devIcons-wrapper {
  margin-bottom: 3rem;
}

.about .btn:link,
.btn:visited {
  margin: 0 2rem;
}

.about .content__section-title {
  span {
    color: $color-red;
  }
}