.about {

  &:hover &__background {
    width: 20.5%;
    background-color: lighten(rgba($color-grey, 1), 5);
  }

  &__background {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 94%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 94%);
    background-color: rgba($color-grey, 1);
    height: 25vh;
    min-height: 19rem;
    z-index: 40;
    position: absolute;
    width: 20%;
    min-width: 16rem;
    top: 0;
    transition: all .4s;
    backface-visibility: hidden;
    @include centerOnPage;

    &-wrapper {
      filter: $tab-drop-shadow;
      z-index: 40;
      position: absolute;
      width: 100%;
      top: 0;
    }

    &-button {
      height: 14vh;
      min-height: 19rem;
      z-index: 41;
      position: absolute;
      width: 20%;
      min-width: 16rem;
      top: 0;
      cursor: pointer;
    }
  }

  &__content {
    @include centerOnPage;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
}