.contact {
  margin-top: -20rem;

}

.contact .content__body-project {
  background: $color-black;
  padding-bottom: 30rem;
  padding-top: 10rem;
}

.contact .content__body-header-description {
  color: $color-white;
  width: 40rem;
  padding: 0;
}

.contactForm {

  &__wrapper {
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.contact .sideBySide {
  padding-bottom: 8rem;
}
