.contact {
  margin-top: -34rem;

  &__left {
    flex: 1 1 15%;
    padding-right: 6rem;

    @media (max-width: 900px) {
      padding-right: 0;
      flex: unset;
    }
  }

  &__specifics {
    color: $color-white;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;


    i {
      color: $color-red;
      padding-right: 2rem;
    }

    span {
      font-size: 2rem;
      font-weight: 300;
    }

    a {
      color: inherit;
    }
  }

}

.contact .content__body-project {
  background: $color-black;
  padding-bottom: 30rem;
  padding-top: 18rem;
}

.contact .content__body-header-description {
  color: $color-white;
  width: 40rem;
  padding: 0;

  @media (max-width: 650px) {
    width: 100%;
  }
}

.contact .content__section-title {
  span {
    color: $color-red;
  }
}

