.footer {
  height: 35rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  letter-spacing: 2px;
  webkit-clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -25rem;
  position: relative;

  &__left {
    background: rgba($color-white, 1);
    flex: 1 1 29%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;

    &-content {
      color: black;
    }
  }

  &__right {
    background: rgba($color-white, 1);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;

    &-content {
      color: black;
    }

    .footer__logo:hover {
      filter: invert(60%);
    }
  }

  &__logo {
    width: 3rem;
    padding: 0 5px;
    transition: all .2s;
  }

  @media (max-width: 650px) {
    font-size: 1rem;
  }
}

.upArrow  {
  position: absolute;
  z-index: 1000;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  transition: all .2s;

  
  &:hover {
    transform: translate(-50%, -60%) scale(1.05);
    filter: drop-shadow(0 1rem 6px black);
  }
  
  @media (max-width: 650px) {
    bottom: 35%;
  }

  &__image {
    width: 8rem;

    @media (max-width: 650px) {
      width: 6rem;
    }
  }
}