.footer {
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  letter-spacing: 2px;

  &__left {
    background: rgba($color-grey, .8);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      color: black;
    }
  }

  &__right {
    background: rgba($color-grey, .8);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      color: black;
    }

    .footer__logo:hover {
      filter: invert(60%);
    }
  }

  &__logo {
    width: 3rem;
    padding: 0 5px;
    transition: all .2s;
  }
}