.footer {
  height: 40rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  letter-spacing: 2px;
  webkit-clip-path: polygon(0% 62%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 62%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -32rem;
  position: relative;
  background: rgba($color-white, 1);

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3rem;
    color: black;
    flex-direction: column;
  }

  &__iconBank {

    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      width: 4rem;
      padding: 0 5px;
      transition: all .2s;
    }
  }

}

.upArrow  {
  position: absolute;
  z-index: 1000;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  transition: all .2s;

  
  &:hover {
    transform: translate(-50%, -60%) scale(1.05);
  }
  
  &__image {
    width: 8rem;
  }
}