.header {
  height: 18vh;
  background-color: rgba($color-grey, 1);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  position: relative;
  z-index: 5000;
  width: 100%;
  
  &__wrapper {
    filter: $tab-drop-shadow;
    position: relative;
    z-index: 200;
    width: 88%;
  }
}

.header .logoSymbol {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 1rem;
  width: 8vw;
  max-width: 12rem;
  filter: grayscale(100%);
}