.home {
  

  &__wrapper {
    height: 100vh;
    z-index: -1;
  }

  &__content {
    text-align: center;
    font-size: 3rem;
    color: $color-grey-light;

    &-wrapper {
      @include centerOnPage;
      flex-direction: column;
      height: 100vh;
      // background: linear-gradient(
      //   to bottom right, 
      //   #ffffff21,
      //     transparent
      //   );
      // clip-path: polygon(0% 37%, 100% -9%, 100% 100%, 0% 108%);
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      z-index: -1;

      @media (max-width: 860px) {
        clip-path: none;
      }

      @media (max-height: 799px) {
        clip-path: none;
      }
    }

    &-title {
      letter-spacing: 3px;
    }

    &-description {
      color: $color-grey-light;
      text-decoration: underline $color-black;
      letter-spacing: 2px;
    }
  }
}