.home {
  

  &__wrapper {
    height: 100vh;
    z-index: -1;
  }

  &__content {
    text-align: center;
    font-size: 3rem;
    color: $color-grey-light;
    padding-bottom: 20rem;

    &-wrapper {
      @include centerOnPage;
      flex-direction: column;
      height: 82vh;
    }

    &-title {
      
    }

    &-description {
      color: $color-grey-light;
      text-decoration: underline $color-black;
    }
  }
}