.navBar {
  position: fixed;
  top: 0;
  height: 7rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 1000;
  color: white;
  transition: all .5s;
  backface-visibility: hidden;

  &__button {
    @include centerOnPage;
    cursor: pointer;
    font-size: 2rem;

    &-icon {
      position: relative;
      text-align: center;
      letter-spacing: 2px;
      transition: all .2s;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-red;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        right: 0;
        background-color: $color-red;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:hover:before,
      &:hover:after {
        visibility: visible;
        transform: scaleX(1.5);
      }

      &:hover {
        letter-spacing: 4px;
      }
    }
  }
}

.homeIcon {
  padding-left: 5rem;
  padding-top: 1rem;
}

.logoSymbol {
  width: 5rem;
  filter: invert(90%);
  cursor: pointer;
}

.rightBank {
  display: flex;
  justify-content: space-around;
  width: 25rem;
  padding-right: 3rem;
}

.bg {
  background: $color-blue;
  box-shadow: 0 .2rem 0rem white;
}
