.navBar {
  position: fixed;
  top: 0;
  height: 7rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 1000;
  color: white;
  transition: all .5s;
  backface-visibility: hidden;

  &__button {
    @include centerOnPage;
    cursor: pointer;
    font-size: 2rem;
    width: 0;

    &-icon {
      position: relative;
      text-align: center;
      letter-spacing: 2px;
      transition: all .2s;
      font-size: 2.2rem;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-red;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        right: 0;
        background-color: $color-red;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s;
      }

      &:hover:before,
      &:hover:after {
        visibility: visible;
        transform: scaleX(1.3);
      }

      &:hover {
        letter-spacing: 4px;
      }
    }
  }
}

.homeIcon {
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;

  &__name {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 2.1rem;
    padding-top: 1rem;
    letter-spacing: 2px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  @media (max-width: 650px) {
    padding-left: 1.5rem;
  }
}

.logoSymbol {
  width: 5rem;
  filter: invert(90%);
  padding-right: 1rem;
}

.rightBank {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  padding-right: 3rem;
}

.bg {
  background: $color-black;
  box-shadow: 0 .2rem 0rem white;
}

#nav a {
  color: inherit;
}
