.portfolio {
  // height: 100vh;
  // -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  // background-color: rgba($color-grey, .6);
  

  &__background {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 90%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 90%);
    background-color: rgba($color-grey, 1);
    height: 23vh;
    min-height: 16rem;
    z-index: 50;
    position: absolute;
    width: 16%;
    min-width: 12rem;
    top: 0;
    transition: all .6s;

    &-wrapper {
      filter: $tab-drop-shadow;
      z-index: 50;
      position: absolute;
      width: 100%;
      top: 0;
    
    }

    &-button {
      height: 13vh;
      min-height: 16rem;
      z-index: 51;
      position: absolute;
      width: 16%;
      min-width: 12rem;
      top: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  &__label {
    font-size: 3rem;
    right: -8px;
    top: 4rem;
    position: absolute;
    transform: rotate(90deg);
  }


}