.resumeObject {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resumeWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
}

.resume {
  // height: 100vh;
  // -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  // background-color: rgba($color-grey, .6);
  

  &__background {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 52%, 0% 91%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 52%, 0% 91%);
    background-color: rgba($color-grey, 1);
    height: 29vh;
    min-height: 23rem;
    z-index: 30;
    position: absolute;
    width: 24%;
    min-width: 20rem;
    top: 0;
    transition: all .6s;

    &-wrapper {
      filter: $tab-drop-shadow;
      z-index: 30;
      position: absolute;
      width: 100%;
      top: 0;
    
    }

    &-button {
      height: 15vh;
      min-height: 23rem;
      z-index: 31;
      position: absolute;
      width: 24%;
      min-width: 20rem;
      top: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  &__tab {
    height: 10rem;
    width: 10rem;
    z-index: 101;
  }

  &__checkbox:checked ~ &__background {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}