.work {
  margin-top: -31rem;
  }

  .work .content__body-project {
    webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 90%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 90%);
    background: blue;
    padding-bottom: 40rem;
    padding-top: 35rem;
    z-index: 80;
  }