.work {
  margin-top: -32rem;
  }

  .work .content__body-project {
    webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    background: $color-blue;
    padding-bottom: 25rem;
    padding-top: 25rem;
    z-index: 80;

    &-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 3rem;
    }
  }

  .work .btn {
    margin: 0 2rem;
  }