html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Teko', sans-serif;;
    font-size: $m-size;
    height: 100%;
    background-image: linear-gradient(
    to bottom, 
      rgba($color-black, .95) 50%,
      rgba($color-black, 0.95)),
      url(../../images/logo_symbol_black_small.png);
    // padding: 3rem;
    background-position: top;
    background-size: 6rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
  font-weight: bold;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}