.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // background: black;

  &__section-title {
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: .3em;
    padding-top: 12rem;

     &::before,
      &::after {
        content: '';
        border-top: 2px solid;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
      }

      &::after {
        margin: 0 0 0 5px;
      }
  }

  &__header {
    background: #858585;
    width: 100%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 90%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 90%);
    @include centerOnPage;
    backface-visibility: hidden;

    &-title {
      padding-bottom: 9rem;
    }
  }

  &__body {

    &-header {
      color: $color-white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      &-title {
        font-size: 5rem;
      }

      &-sub {
        font-size: 3rem;
        font-family: 'Open Sans', sans-serif;
      }

      &-description {
        font-size: 2rem;
        padding: 2rem 5rem;
        width: 80%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
    }

    &-imageBank {

      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding-top: 3rem;

      &-image {
        width: 80vw;
        max-width: 125rem;
      }

      &-imageFloating {
        position: absolute;
        width: 35vw;
      }
    }

    &-project {
      padding: 3rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.label {
  

  &__wrapper {
    font-size: 3rem;
    right: -33px;
    top: 3rem;
    position: absolute;
    transform: rotate(90deg);
    letter-spacing: 1px;
    height: 4vh;
    width: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.video {
  position: fixed;
  z-index: -1;
  opacity: .15;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;

  &__content {
   
  }
}

.devIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-wrap: wrap;

  &__icon {
    font-size: 5rem;
    color: $color-white;
    padding: 5px;
  }

  &-wrapper {
    text-align: center;
    width: 80%;
  }

  &-title {
    color: $color-white;
    font-size: 3rem;
  }
}

.btn {
  cursor: pointer;
  font-size: 3rem;
  padding: 0 1.5rem;
  color: $color-white;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
  background-size: 230%;
  transition: all .4s;
  display: inline-block;
  border: 2px solid $color-red;
  backface-visibility: hidden;
  border-radius: 3px;

  &:link,
  &:visited {
    font-size: 3rem;
    padding: 2rem 3rem;
    color: $color-white;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 230%;
    transition: all .4s;
    display: inline-block;
    border: 2px solid $color-red;
    backface-visibility: hidden;
    border-radius: 3px;
  }

  &:hover,
  &:active {
    border: 2px solid $color-white;
    background-position: 100%;
    color: $color-red;
    transform: translateY(-1rem);
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem rgba(black, .2);
  }
}


