.slide {
  height: inherit !important;
  width: 100% !important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.z-top {
  z-index: 1000 !important;
}

.fadeIn {
  opacity: 1 !important;
}

@mixin centerOnPage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}